# ==========================
# macOS
# ==========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# ==========================
# Jupyter Notebooks
# ==========================
.ipynb_checkpoints/


# ==========================
# IDEs / Editors
# ==========================
.vscode/
.idea/
